DATABASE_URL="postgresql://postgres:postgres@localhost:5432/warehouse_db?schema=public"
OPENROUTER_API_KEY="your-openrouter-api-key"
OPENWEATHER_API_KEY=""
OPEN_METEO_URL="https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&hourly=temperature_2m,precipitation"

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCGUds-6ov9aNzoE3BxfT_DYcZ-4G3hTbk"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="warehouse-intelligence-16bb0.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="warehouse-intelligence-16bb0"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="warehouse-intelligence-16bb0.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="37651093058"
NEXT_PUBLIC_FIREBASE_APP_ID="1:37651093058:web:1977831df0ae3efbbcbfdb"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-9QZHFV585B"
